
body {
    overflow: hidden;
    font-family: Helvetica;
    background: #ABC;
    color: rgba(0,0,0,0.5);
}

.label {
    font-family: monospace;
    text-align: center;
    font-size: 2em;
}

.disp {
    font-size: 4em;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    color: #000;
    border: none;
    font-family: monospace; 
    width: 100%;
    //border-radius: 0.25em;
    max-width: 7em;
}

.tapped {
    background: rgba(255, 255, 255,0.8);
}

.main {
    border: 0px solid #888;
    padding: 0em;
    background: rgba(0, 0, 0, 0.05);
    padding: 1em;
}

.notes {
    text-align: center;
}

.comment {
    font-size: 70%;
}

#chart {
    background: #FFF;
    border-radius: 1em;
}

::-webkit-scrollbar-thumb {
    display: none;
}

input[type="checkbox"]:disabled {
    opacity: .3;
}

div#content {
    background-color: #dddddd;
    margin: 0px;
    padding: 0px;
}

div#inner-content {
    background-color: #dddddd;
    margin: 10px;
    width: 100%;
    height: 100%;
}

.top-titlebar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 32px;
    background-color: #7a7c7c;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.bottom-titlebar {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 32px;
    background-color: #7a7c7c;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.left-titlebar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 100%;
    background-color: #7a7c7c;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.right-titlebar {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 32px;
    height: 100%;
    background-color: #7a7c7c;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.top-titlebar-icon,
.bottom-titlebar-icon {
    position: absolute;
    left: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.left-titlebar-icon {
    position: absolute;
    bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
}

.right-titlebar-icon {
    position: absolute;
    top: 6px;
    margin-left: 6px;
    margin-right: 6px;
}

.top-titlebar-text,
.bottom-titlebar-text {
    position: absolute;
    left: 32px;
    width: 80%;
    margin-top: 6px;
    margin-bottom: 6px;
    font-family: Arial;
    font-size: 11pt;
    color: #ffffff;
}

.left-titlebar-text {
    position: absolute;
    bottom: 32px;
    width: 100px;
    margin-left: 6px;
    margin-right: 6px;
    font-family: Arial;
    font-size: 12pt;
    color: #ffffff;
    -webkit-transform: rotate(-90deg) translate(0, 100%);
    -webkit-transform-origin: 0% 100%;
}

.right-titlebar-text {
    position: absolute;
    top: 0px;
    width: 100px;
    margin-left: 6px;
    margin-right: 6px;
    font-family: Arial;
    font-size: 12pt;
    color: #ffffff;
    -webkit-transform: rotate(90deg) translate(0, 100%);
    -webkit-transform-origin: 0% 200%;
}

.top-titlebar-close-button,
.bottom-titlebar-close-button {
    position: absolute;
    right: 11px;
    width: 17px;
    height: 17px;
    margin-top: 6px;
    margin-bottom: 6px;
    -webkit-app-region: no-drag;
}

.left-titlebar-close-button {
    position: absolute;
    top: 11px;
    width: 17px;
    height: 17px;
    margin-left: 6px;
    margin-right: 6px;
    -webkit-app-region: no-drag;
}

.right-titlebar-close-button {
    position: absolute;
    bottom: 11px;
    width: 17px;
    height: 17px;
    margin-left: 6px;
    margin-right: 6px;
    -webkit-app-region: no-drag;
}

.top-titlebar-divider {
    position: absolute;
    left: 0px;
    top: 31px;
    width: 100%;
    height: 1px;
    background-color: #2a2c2c;
}

.bottom-titlebar-divider {
    position: absolute;
    left: 0px;
    bottom: 31px;
    width: 100%;
    height: 1px;
    background-color: #2a2c2c;
}

.left-titlebar-divider {
    position: absolute;
    left: 31px;
    top: 0px;
    width: 1px;
    height: 100%;
    background-color: #2a2c2c;
}

.right-titlebar-divider {
    position: absolute;
    right: 31px;
    top: 0px;
    width: 1px;
    height: 100%;
    background-color: #2a2c2c;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

input, button, textarea, :focus {
    outline: none;
}
